src/main/resources/person.wsdl

<wsdl:definitions name="wsdl-first"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tns="http://mulesoft/samples/wsdl-first" xmlns:typens="http://mulesoft/samples/wsdl-first/types"
	targetNamespace="http://mulesoft/samples/wsdl-first">
	<wsdl:types>
		<xsd:schema targetNamespace="http://mulesoft/samples/wsdl-first/types"
			elementFormDefault="qualified">
			<xsd:element name="RegisterPerson">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="firstname" type="xsd:string" />
						<xsd:element name="lastname" type="xsd:string" />
						<xsd:element name="email" type="xsd:string" />
						<xsd:element name="addressline1" type="xsd:string" />
						<xsd:element name="city" type="xsd:string" />
						<xsd:element name="postalcode" type="xsd:string" />
						<xsd:element name="state" type="xsd:string" />
						<xsd:element name="country" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>


			</xsd:element>
			<xsd:element name="RegisterPersonResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="personId" type="xsd:string" />
						<xsd:element name="status" type="xsd:string" />
						<xsd:element name="addressline1" type="xsd:string" />
						<xsd:element name="city" type="xsd:string" />
						<xsd:element name="postalcode" type="xsd:string" />
						<xsd:element name="state" type="xsd:string" />
						<xsd:element name="country" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>


			</xsd:element>
			<xsd:element name="UnknownPersonFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="personId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RegisterPersonRequest">
		<wsdl:part name="payload" element="typens:RegisterPerson" />
	</wsdl:message>
	<wsdl:message name="RegisterPersonResponse">
		<wsdl:part name="payload" element="typens:RegisterPersonResponse" />
	</wsdl:message>
	<wsdl:message name="UnknownPersonFault">
		<wsdl:part name="payload" element="typens:UnknownPersonFault" />
	</wsdl:message>

	<wsdl:portType name="Person">
		<wsdl:operation name="RegisterPerson">
			<wsdl:input message="tns:RegisterPersonRequest" />
			<wsdl:output message="tns:RegisterPersonResponse" />
			<wsdl:fault name="UnknownPerson" message="tns:UnknownPersonFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PersonSOAPBinding" type="tns:Person">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="RegisterPerson">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnknownPerson">
				<soap:fault use="literal" name="UnknownPerson" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PersonService">
		<wsdl:port binding="tns:PersonSOAPBinding" name="soap">
			<soap:address location="http://localhost:8881/person" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>